* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: currentColor;
}

body {
    background: #3e0808;
    box-sizing: border-box;
    margin: 0px;
}
#home{
    padding: 5% 8%;
    min-height: 100vh;

}
header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    color: #FFFFFF;
    background-color: #000000ae;
    position: fixed;
    padding: 20px 8%;
    width: 100%;
}
header img{
    height: 50px;
    width: 50px;   
    animation: float 2s ease-in-out infinite; 
}

header > div{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
}

.banner {
    width: 100%;
    min-height: 100vh;
    background-image: url('assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;
  }

@media(max-width: 768px){
    div.banner{
        width: 100%;
        height: 450px;
        background-position: 50% 20%;
        background-size: cover;
    }
}

h1 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 35px;
}

p {
    font-size: 24px;
    margin: 30px;
    color: #FFFFFF; 
}

#contact{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: #200505;
}

#contact img{
    margin-top: 25px;
    height: 65px;
    width: 65px;
    cursor: pointer;
}

input {
    display: block;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 50px;
    width: 352px;
    margin-bottom: 20px;
}

textarea {
    display: block;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 100px;
    width: 352px;
    margin-bottom: 20px;
}

form {
    background: #FFFFFF;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
}

button {
    background: #c20000;
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    width: 174px;
    cursor: pointer;
    color: #FFFFFF;
}

button:hover {
    opacity: 0.8;
}

.voltar {
    background: gray;
}

div {
    transition: opacity 1s;
}

footer{
    padding: 3% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: silver;
    background-color: #000000;
    border-top: 1px solid #52454b;
}

footer img{
    height: 40px;
    width: 40px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
}
